@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
/* resets */

select:active, select:hover {
  outline: none;
}
input, .form-control{
	border: 1px solid #eeeeee;
}
input:focus, .form-control:focus{
	border: 1px solid #cccccc;
	box-shadow: none;
	background-color: #FFFDCC;
}

table thead tr, table thead td {
	border: none !important;
}

/* navbar */
.fa{
	padding-right: 5px;
}

.navbar-default{
	background-color: #0D3268;
	border-color: #0B2750;

	.navbar-brand, .navbar-nav > li > a{
		color: white;

	}
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-nav > li > a:hover{
	color: yellow;
}


/* welcome */
.quote{
	font-size: 1.4em;
	font-weight: bold;
	border-left: none;
	width: 80%;
	margin: 0 auto;
	font-style: italic;
	color: #666;
}
.author{
	text-align: right;
	font-weight: normal;
}

body {
    font-family: 'Lato', sans-serif;
		background: url('/img/bg.jpg') center center fixed;
}

.fa-btn {
    margin-right: 6px;
}

.waste-list tr td{
	padding: 10px;
	
}

/**** Dashboard ****/
.key{
	font-weight: bold;
	text-transform: uppercase;
	font-size: .6em;
}
.list-larger{
	font-size: 125%;
}

tr.running1 td{
	background-color: #FFF0BD;
}

.form-group{
	padding: 10px;
}
.panel-heading{
	font-size: 1.3em;
	height: 70px;

	h4{
		padding: 0;
		margin: 0;		
	}
	.header-dates{
		font-size: .85em;
	}
}
.home-right{
display: block;
	float: right;
}

.avatar{
	width: 200px;
	height: 200px;
	overflow: hidden
}
.small-avatar{
	width: 50px;
	height: 50px;
}
/******* errors *******/
.e404{
	display: flex;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.e404 h1{
	color: white;
	font-size: 6em;
}

.user{
	display: block;
	min-height: 200px;
	border-right: 1px dashed #ccc;
}
.user:last-child{
	border-right: none;
}
/**** *****/
.stats{ 

  table{
	  width: 95%;
	  background-color: none;
	  font-size: 1.2em;
	  margin: 10px;

	  td{
	    text-transform: none;
	    font-size: 1.2em;
	    text-align: right;
	    padding: 5px 10px;
	    transition: .2s all;
	    width: 33%;
		}
		td:last-child{
			text-align: left;
			border-left: 1px dashed #cdcdcd;
			padding-left: 10px;

		}
		tbody tr:nth-child(odd){
			background-color: #efefef;
		}

		tr.stat:hover td{
			background-color: #FCF4C0;
			font-weight: bold;
		}
  }
  
}
