@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
/* resets */

select:active, select:hover {
  outline: none;
}
input, .form-control{
	border: 1px solid #eeeeee;
}
input:focus, .form-control:focus{
	border: 1px solid #cccccc;
	box-shadow: none;
	background-color: #FFFDCC;
}

table thead tr, table thead td {
	border: none !important;
}

/* navbar */
.fa{
	padding-right: 5px;
}

.navbar-default{
	background-color: #0D3268;
	border-color: #0B2750;

	.navbar-brand, .navbar-nav > li > a{
		color: white;
	}
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-nav > li > a:hover{
	color: yellow;
}


/* welcome */
.quote{
	font-size: 1.4em;
	font-weight: bold;
	border-left: none;
	width: 80%;
	margin: 0 auto;
	font-style: italic;
	color: #666;
}
.author{
	text-align: right;
	font-weight: normal;
}

body {
    font-family: 'Lato', sans-serif;
		background: url('/img/bg.jpg') center center fixed;
}

.fa-btn {
    margin-right: 6px;
}

.waste-list tr td{
	padding: 10px;
	
}

/**** Dashboard ****/
.key{
	font-weight: bold;
	text-transform: uppercase;
	font-size: .6em;
}
.list-larger{
	font-size: 125%;
}

.running1 td{
	background-color: #FFF0BD;
}

.form-group{
	padding: 10px;
}
.panel-heading{
	font-size: 1.3em;
}

.avatar{
	width: 200px;
	height: 200px;
	overflow: hidden
}

/******* errors *******/
.e404{
	display: flex;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.e404 h1{
	color: white;
	font-size: 6em;
}
